/******************************************************************
Site Name: The Degree Show 2014 wordpress theme
Author: The Degree Show team

Stylesheet: Main stylesheet. Keep tidy & remember bootstrap is mobile first!
******************************************************************/

@import url('header.css');
@import url('posts.css');

body {background-image: url('../images/gplaypattern.png'); font-family: 'InterFace-Regular'; }


@import url("http://fnt.webink.com/wfs/webink.css/?project=D0D5D8F6-AAEA-4A39-90D3-AF24444E1FCF&fonts=8749A8B6-5CBC-CD3F-0D15-D2854FAF6F76:f=InterFace-Italic,D966CD02-BD7F-6FC2-49D6-AEB64C86FE41:f=InterFace-BoldItalic,F053CF28-AC3D-675F-0F59-439B2A498BD8:f=InterFace-Bold,12A466A5-0B5B-214C-6B4F-5298692C6FE8:f=InterFaceLight-Regular,E3C2DF14-8822-F4F9-5189-8DB2C6F87ABE:f=InterFace-Regular,B987AEAF-D251-6DF0-AE79-D058EBCA2A1B:f=InterFace-LightItalic");

#comments { width: 640px; max-width: 95%; }
#comment-nav { width: 640px; max-width: 95%; }
#respond { width: 640px; max-width: 95%; }
.commentlist { width: 640px; max-width: 95%; }


.bottom-border { border-top: solid 1px #ccc; background-color: #FFF; }

.book-your-ticket { height: 200px; width: 750px; max-width: 100%; margin-top: 100px;}

.bottom-map { height: 200px; width: 750px; max-width: 100%; margin-top: 100px; }

.container-post { width: 750px; height: auto; }

.book-your-ticket-title { text-align: center; color: #333; font-weight: bold; }

.adress { text-align: center; color: #333; font-weight: light; }

.btn-book-your-ticket { border: 3px solid #666; background-color: transparent; font-weight: bold; color: #333; }

/* Extra small devices (phones, less than 768px) */
@media (max-width: 480px) {
.post-background {max-width: 100%;}	
			}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.post-background {max-width: 48%;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
