/*
-- Archive pages
*/
.cat-nav-container {
	background-color: #3f4747;
	padding: 40px 15%;
	ul.cat-nav {
		padding: 0px;
		margin: 0px;
		// columns: 3;
		// -webkit-columns: 3;
		// -moz-columns: 3;

		li {
			list-style-type: none;
			margin: 0.5em 0;
			display: block;

			a {
				text-transform: uppercase;
				color: @white;
				&:hover {
					color: @brand;
				}
			}
		}
	}
}


.cat-nav-toggle{
	cursor: pointer;
	background-color: #5b6363;
	display: block;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	color: @white;
}