/*
-- Globals / Typography
*/

html, body {
	.full; // needed for full width elements
}

body {
	font-family: 'interfaceregular', sans-serif;
	font-size: 18px;
	color: @text;
}

img {
	max-width: 100%;
}

hr {
	color: #f4f4f4;
	width: 70%;
	margin: 40px auto;
}

a {
	color: @brand;
	&:hover {
		color: darken(@brand, 10%);
		text-decoration: none;
	}
}

.bold {
	font-family: 'interfacebold', sans-serif;
	font-weight: normal;
	font-style: normal;
}
.italic {
	font-family: 'interfaceitalic', sans-serif;
	font-weight: normal;
	font-style: normal;
}
.light {
	font-family: 'interfacelight', sans-serif;
	font-weight: normal;
	font-style: normal;
}

// avoid safari error on custom fonts
b, strong {
	.bold;
}
i, em {
	.italic; 
}

p.intro {
	font-size: 1.1em;
}

.cta {
	display: inline-block;
	text-transform: uppercase;
	line-height: 1em;
	padding: 7px 10px 5px 10px;
	
	border: 4px solid @brand;
	color: @brand;
}
.lg-cta {
	border: 4px solid @white;
	font-size: 1.2em;
	background: url('../images/opacity-10.png');
}

h1 {
	font-size: 2.1em;
	color: @textdk;
}
h2 {
	font-size: 1.6em;
	color: @textdk;
}
h3 {
	font-size: 1.3em;
	color: @brand;
}
h4 {
	font-size: 1.1 em;
	color: @brand;
}