/*
-- Header
*/

header.hero {
	.clearfix;
	background-color: @brand;
	background: url('../images/bg-top.jpg');
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;

	padding-bottom: 120px;

	color: @white;
	a {
		color: @white;
	}
}

.over {
	background: url('../images/opacity-blu-lg.png');
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0;
	height: 100%;
	z-index: 1;
}
.header-content {
	position: relative;
	
	z-index: 3;
}

.error404 header.hero {
	padding-bottom: 0px;
}

#header-nav {
	position: fixed;
	top:0;
	width: 100%;
	font-size: 18px;

	padding: 3% 5%;

	&.docked {
		width: 100%;
		background: @brand;
		z-index: 10;
		padding: 10px 85px;

		.transition (padding .2s linear);

		.logo img {
			height: 80px;
			margin: 0px;
		}
		.header-nav {
			margin: 28px 0 0 0;
		}
	}

	.header-nav {
		float: right;
		text-align: right;

		p {
			cursor: pointer;
			display: inline-block;

			font-size: 1em;
			text-transform: uppercase;

			margin: 0px;

			&.searchtoggle {
				background: url('../images/ico-search.png') no-repeat 0px 4px;
				padding: 0px 20px 0px 22px;
			}
			&.navtoggle {
				background: url('../images/ico-nav.png') no-repeat 0px 5px;
				padding: 0px 0px 0px 28px;
			}
		}
	}

}


.full .header-intro { // full height header only shows on homepage
	margin-top: 20%;
	h1 {
		font-size: 4em;
		margin: 0px 0px 25px 0px;
		.bold;
	}
}

.header-intro {
	.clearfix;
	margin-top: 200px;
	text-align: center;

	h1 {
		font-size: 2.5em;
		margin: 0px 0px 25px 0px;
		.bold;
	}
	.lg-cta {
		margin-top: 60px;
	}

	.header-info {
		p {
			display: inline-block;
			margin: 0px;
			line-height: 30px;
			font-size: 1.2em;

			&.header-date {
				background: url('../images/ico-cal.png') no-repeat 0px 0px;
				padding: 0px 45px 0px 38px;
			}
			&.header-place {
				background: url('../images/ico-location.png') no-repeat 0px 0px;
				padding: 0px 0px 0px 28px;
			}

			&.header-person {
				background: url('../images/ico-person.png') no-repeat 0px 0px;
				padding: 0px 45px 0px 34px;
			}
			&.header-clock {
				background: url('../images/ico-clock.png') no-repeat 0px 0px;
				padding: 0px 45px 0px 38px;
			}
			&.header-info {
				background: url('../images/ico-info.png') no-repeat 0px 0px;
				padding: 0px 0px 0px 38px;
			}
		}
	}
}

.searchtoggle {
	cursor: pointer;
}

#search{
	display: none;
	.full;

	background-color: @brand;
	z-index: 20;
	position: fixed;

	label.screen-reader-text, input#s {
		margin: 0 10%;
	}
	label.screen-reader-text {
		margin-top: 10%;
		font-size: 1.2em;
		color: @white;
		text-transform: uppercase;
	}
	input#s{
		background-color: @brand;
		border: 0px;
		border-left: 5px solid @brandlt;
		color: @white;
		font-size: 11.6em;
		width: 80%;
		outline: none;
		padding-left: 20px;
		margin-top: 20px;
	}
	input#s::-webkit-input-placeholder { color:rgba(255, 255, 255, 0.3); }
	.ico-close {
		position: absolute;
		right: 20px;
		top: 20px;
		z-index: 20;
	}
	#searchsubmit {
		display: none;
	}
}