/*
-- Homepage
-- home specific
*/

.booking {
	text-align: center;

	.content-pad;
	padding-bottom: 45px;
	padding-top: 90px;

	.days {
		line-height: 1.8;
		padding-bottom: 5%;
		ul {
			text-align: left;
		}
	}
}

.featured {

	text-align: center; // for button


	.btn-news {
		position: absolute;
		z-index: 2;
		margin: 190px auto;
		margin-left: -60px;

		.lg-cta;
		color: @white;

		.rounded(@radius: 50%);
		width: 120px;
		height: 120px;

		span {
			display: block;
			margin-top: 40px;
		}
	}

	.col-md-6 {
		height: 500px;
		position: relative;
	}

	.story {
		width: 70%;
		display: block;

		position: absolute;
		bottom: 40px;

		color: @white;
		h1 {
			color: @white;
			margin: 10px 0px;
		}
		p {
			margin: 0px;
		}
		a {
			color: @white;
		}
	}
	.col-md-6:nth-child(1){
		background:url('../images/bg-featured-left.png') no-repeat right @branddk;
		background-size: cover;
		text-align: left;
	}
	.col-md-6:nth-child(2) {
		background:url('../images/bg-featured-right.png') no-repeat left @branddk;
		background-size: cover;
		text-align: right;
		.story {
			right:20px;
		}
	}


}

.front-posts {
	.content-pad;

	.article {
		border-left: 5px solid @brandlt;
		padding-left: 14px;
	}

	.article-header h2 {
		.light
	}

	.byline {
		color: @brand;
		text-align: right;
		.italic;
		font-size: 0.7em;
		line-height: 2em;
	}

	.tweets {

		h1 {
			background: url('../images/logo-twitter.png') no-repeat;
			margin-left: -80px;
			padding-left: 80px;
			line-height: 49px;
			.light
		}


		.kebo-tweets {
			.ktweet {

				border-bottom: none;
				margin-bottom: 20px;

				&:first-of-type {
					font-size: 1.1em;

					.ktext {
						border-left: none;
						padding-left: 0px;
					}
				}

				.ktext {
					.article;
					min-height: 1em;
				}
				.kaccount {
					display: none;
				}
				.kmeta {
					.byline;
				}
				.kfooter {
					padding-right: 20px;
				}

			}
		}
	}

	.news {
		h1 {
			padding-left: 19px; // border + padding on .article
			.light
		}
		article:first-of-type {
			font-size: 1.1em;
		}

		article {
			.article
		}
	}
}


.location {
	background-color: @brand;
	position: relative;
	overflow: hidden;

	.address {
		background: url('../images/opacity-85.png');

		overflow: hidden;

		position: relative;
		margin-top: 180px;
		bottom: 0;
		left: 0;
		right: 0;

		z-index: 2;
		text-align: center;

		a {
			color: @text;
			&:hover {
				color: darken(@brand, 10%);
			}
		}

		.map-toggle{
			cursor: pointer;
			&.arrow {
				display: block;
				height: 30px;
				background: url('../images/arrow-down.png')no-repeat center center @branddk;
				&.up {
					background: url('../images/arrow-up.png')no-repeat center center @branddk;
				}
			}
		}


		.map-info {
			.content-pad;
		}

			.map-info h1 {
				.light
			}

			.map-info p {
				.light
			}

		p.intro {
			font-size: 1.1em;
			.light
		}
		p:last-child {
		}

		.logo {
			margin-top: 50px;
			float: right;
		}
		address {
			margin-top: 40px;
			float: left;
			.light
		}
	}
}


#map {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.sponsors {
	background-color: #fff;
	text-align: center;
	padding: 5%;

	h4 {
		margin-bottom: 30px;
	}

	.sponsors-list {
		padding: 0px;
		margin: 0px -10px;
		li {
			display: inline-block;
			margin: 10px;
			width: 31%;
			height: 220px;
			position: relative;

			img {
				margin: auto;
				width: 40%;
				position: absolute;
				top: 0; left: 0; bottom: 0; right: 0;
			}

		}
	}
}