/*
-- Homepage
-- home specific
*/

.booking {
	text-align: center;
	padding-top: 5%;
	padding-bottom: 2%;

	.days {
		line-height: 1.8;
		padding-bottom: 5%;
	}
}

.front-posts {
	padding-top: 5%;
	padding-bottom: 5%;
}