/*
-- MOBILE VERSION
*/

//-- Header

header.home {
	height: 380px;
}

.header-nav {
	float: none;
	margin: 0px auto;
	text-align: center;
	background-color: @black;
	padding: 5px 0px;
}

header .logo {
	text-align: center;
	display: block;
	width: 100%;
	margin: 10px 0px;
	img {
		margin: 0px;
		height: 70px;
	}
}

.header-intro {
	margin-top: 0px;
	h1 {
		font-size: 2.5em;
		margin-bottom: 10px;
	}
	.header-info p.header-date {
		padding-right: 0px;
		margin-bottom: 5px;
	}
}


// -- Page
.pad {
	padding: 0px 10%;
}


// -- Homepage
.sponsors .sponsors-list li {
	width: 45%;
}