/*
-- MOBILE VERSION
*/

//-- Header
header.hero {

	padding-bottom: 40px;

	&.full {
		height: auto;
		.header-intro {
			margin-top: 0px;
		}
	}


	#header-nav {
		padding: 10px;
		position: relative;

		&.docked {
			position: fixed;
			padding: 10px;
		}
		.header-nav {
			padding: 5px 0px;
		}
		.logo img {
			height: 70px;
		}
	}

	.header-intro {
		margin-top: 0px;
		h1 {
			font-size: 2em;
			margin-bottom: 10px;
		}
		.header-info p.header-date {
			padding-right: 0px;
			margin-bottom: 5px;
		}
	}
}




// -- Page
.pad {
	padding: 0px 10%;
}


// -- Homepage
.sponsors .sponsors-list li {
	width: 45%;
}