/*
-- Page
-- generic page layouts
*/

#wrapper {
	position: relative;
	// .full;
	
	z-index: 2;
	background-color: @white;
}

.content {
	background-color: @white;
	position: relative;
	z-index: 2;
}

.content-pad {
	padding: 5% 15%;
}

.single-post {
	.article {
		p:first-child {
			font-size: 1.1em;
			color: @textdk;
		}
	}
}

.alignleft, img.alignleft { 
	margin-right: 1.5em; 
	display: inline; 
	float: left; 
}
.alignright, img.alignright { 
	margin-left: 1.5em; 
	display: inline; 
	float: right; 
}
.aligncenter, img.aligncenter { 
	margin-right: auto; 
	margin-left: auto; 
	display: block; 
	clear: both; 
}
#post-358 {
	text-align: center;
}
	#post-358 .row {
		padding: 40px 0;
	}

		#post-358 .row .col-md-12 {
			padding: 10px 0;
		}