/*
-- PORTRAIT TABLET VERSION
-- col-sm , before col-md kicks in
*/

// Homepage
.featured {
	.btn-news {
		margin: 470px -50%;
		width: 100%;
		.rounded(@radius: 0%);
		font-size: 1.7em;
		height: 2em;
		span {
			margin: 0.25em;
		}
	}
}

// archives
.cat-nav-toggle{
	margin-bottom: 1em;
}